@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root{
  /* Vibrant Oranges */
  --color-orange-red: #FF4500;
  --color-tomato: #FF6347;
  --color-classic-orange: #FFA500;
  --color-dark-orange: #FF8C00;
  --color-coral: #FF7F50;
  /* Subtle and Muted Oranges */
  --color-golden-orange: #E59400;
  --color-chocolate-orange: #D2691E;
  --color-pastel-orange: #FFB347;
  --color-muted-sunset: #E6A157;
  --color-bronze-orange: #CC7722;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1480px;
  margin: 0px auto;
  padding: 0px 2rem;
}

.btn-primary {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.3em;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  background-color: var(--color-dark-orange);
  padding: 8px 20px;
  display: inline-block;
  transition: .5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-primary:hover {
  color: var(--color-dark-orange);
}

.btn-primary:hover::after {
  transform: skewX(45deg) scaleX(1);
}

.btn-primary::after {
  position: absolute;
  content: "";
  display: block;
  left: 8%;
  right: -20%;
  top: -4%;
  height: 150%;
  width: 150%;
  border-radius: 2px;
  background-color: #fff;
  transform: skewX(45deg) scaleX(0);
  z-index: -1;
  transition: all .5s ease-in-out 0s;
}

.explore-btn{
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .03em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.explore-btn i{
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.explore-btn:hover{
  color: var(--color-dark-orange);
  transition: 0.3s ease-in all;
}

.explore-btn:hover i{
  border: 1px solid var(--color-dark-orange);
  rotate: 90deg;
  transition: 0.3s ease all;
}

.section-heading{
  text-align: center;
  width: 100%;
}

.opacity-bg h2{
  text-align: center;
  color: #000;
  z-index: 0;
  user-select: none;
  opacity: 0.2;
  position: relative;
  left: 0;
  right: 0;
  letter-spacing: 2px;
  font-size: 70px;
  text-shadow: -1px -1px 0 var(--color-golden-orange), -1px -1px 10px var(--color-golden-orange),
  1px -1px 0 var(--color-chocolate-orange), 1px -1px 10px var(--color-chocolate-orange),
  -1px 1px 0 var(--color-tomato), -1px 1px 10px var(--color-tomato),
  1px 1px 0 var(--color-orange-red) ,1px 1px 10px var(--color-orange-red);
}

footer{
  background-color: #111;
  padding: 15px 3px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  word-spacing: 4px;
}

footer p span{
  color: var(--color-golden-orange);
}

@media screen and (max-width:1080px) {
  .container{
    padding: 0.2rem 1rem;
  }

  .explore-btn i{
    height: 30px;
    width: 30px;
    margin-right: 6px;
    border-radius: 50%;
  }

  .explore-btn{
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 17px;
  }

  footer{
    word-spacing: 1px;
    font-weight: 300;
  }
}

@media screen and (max-width:768px) {
  .opacity-bg h2{
    font-size: 42px;
  }
}
